@font-face {
    font-family: 'loveloblack';
    src: url('loveloblack.eot');
    src: url('loveloblack.eot?#iefix') format('embedded-opentype'),
         url('loveloblack.woff') format('woff'),
         url('loveloblack.ttf') format('truetype'),
         url('loveloblack.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;
}